
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Style_Home.css" rel="stylesheet" />
    <script src="~/Content/Style_Slider_.js"></script>
    <title>TrangChu</title>

</head>
<body>
    <div class="container">
        <div class="top">
            <div class="header">
                <p> Freeship đơn từ 45k, giảm nhiều hơn cùng FREESHIP XTRA </p>
            </div>
            <div class="lg_Sear_Gio">
                <img src="~/HinhAnh/logo.png" />
                <div class="search">
                    <div>
                        <input type="text" placeholder="Giá siêu rẻ" class="search-bar">
                        <button class="search-button">Tìm kiếm</button>
                    </div>
                    <div class="categories">
                        <a href="#">điện gia dụng</a>
                        <a href="#">xe cộ</a>
                        <a href="#">mẹ & bé</a>
                        <a href="#">khỏe đẹp</a>
                        <a href="#">nhà cửa</a>
                        <a href="#">sách</a>
                        <a href="#">thể thao</a>
                        <a href="#">iphone 13</a>
                        <a href="#">điện thoại</a>
                        <a href="#">ipad air 5</a>
                        <a href="#">oppo a17k</a>
                    </div>
                </div>
                <div class="giochu">
                    <div class="giohang_top">
                        <a href="#"> Trang Chủ </a>
                        <a href="#"> Tài Khoản </a>
                        <button class="gio"> Giỏ Hàng </button>
                    </div>
                    <div class="diachi">
                        <a href="#"> Q.1,P.Bến Nghé, Hồ Chí Minh </a>
                    </div>
                </div>
            </div>

            <div class="lienhe">
                <a href="#"> Cam kết </a>
                <a href="#"> 100% hàng thật </a>
                <a href="#"> Hoàn 200% nếu hàng giả </a>
                <a href="#"> 30 ngày đổi trả </a>
                <a href="#"> Giao nhanh 2h </a>
                <a href="#"> Giá siêu rẻ </a>
                <a href="#"> Freeship mọi đơn </a>
            </div>

        </div>


        <div class="content">
            <div class='vitrihere'>
                <a href="#"> Trang chủ >  </a>
                <a href="#"> Điện Thoại - Máy Tính Bảng </a>
            </div>
            <div class="contentsp">
                <div class="nav_left">

                    <div class="trungbay">
                        <div>
                            <p><b> Khám phá theo danh mục </b></p>
                        </div>
                        <div class="listsp">
                            <a href="#"> Điện thoại Smartphone </a><br />
                        </div>
                        <div class="listsp">
                            <a href="#"> Máy tính bảng </a><br />
                        </div>
                        <div class="listsp">
                            <a href="#"> Máy đọc sách </a><br />
                        </div>
                        <div class="listsp">
                            <a href="#"> Điện thoại phổ thông </a><br />
                        </div>
                        <div class="listsp1">
                            <a href="#"> Điện thoại bàn </a><br />
                        </div>
                    </div>

                    <div class="product">
                        <img src="~/HinhAnh/Ảnh chụp màn hình 2024-09-30 102106.png" />
                        <p><b>Apple iPhone 16 Pro Max - Titant Tự Nhiên - 512GB</b></p>
                        <div class="danhgia_daban">
                            <div class="danhgia">
                                <p class="text"> ★★★★★ &nbsp; </p>
                            </div>
                            <div class="daban">
                                <p class="code"> Đã bán 95 &nbsp; </p>
                            </div>
                        </div>
                        <p><b>40.990.000₫</b></p>
                        <button>Xem thêm</button>
                    </div>

                    <div class="product">
                        <img src="~/HinhAnh/Ảnh chụp màn hình 2024-09-30 102106.png" />
                        <p><b>Apple iPhone 16 Pro - Titan Tự Nhiên _ 128GB</b></p>
                        <div class="danhgia_daban">
                            <div class="danhgia">
                                <p class="text"> ★★★★★ &nbsp; </p>
                            </div>
                            <div class="daban">
                                <p class="code"> Đã bán 48 &nbsp; </p>
                            </div>
                        </div>
                        <p><b>28.990.000₫</b></p>
                        <button>Xem thêm</button>
                    </div>
                </div>

                <div class="nav_right">
                    <header> <b> Điện Thoại - Máy Tính Bảng </b> </header>
                    <div class="slidesss">
                        <div class="slides">
                            <div class="slide">
                                <img src="~/HinhAnh/slider1.png"  alt="Image 1"/>
                            </div>
                            <div class="slide">
                                <img src="~/HinhAnh/slider2.png" alt="Image 2" />
                            </div>
                            <div class="slide">
                                <img src="~/HinhAnh/slider1.png" alt="Image 3" />
                            </div>
                            <div class="slide">
                                <img src="~/HinhAnh/slider2.png" alt="Image 4" />
                            </div>
                            <!-- Thêm nhiều slide nếu cần -->
                        </div>
                        <!-- Nút điều hướng -->
                        <button class="prev" onclick="prevSlide()">&#10094;</button>
                        <button class="next" onclick="nextSlide()">&#10095;</button>
                    </div>
                    <div class="khampha">
                        <div class="header_khampha">
                            <p><b> Khám phá theo danh mục </b></p>
                        </div>
                        <div class="khampha_section">
                            <div class="khampha_tong">
                                <div class="khampha_img">
                                    <img src="~/HinhAnh/khampha1.png" />
                                </div>
                                <div class="infor">
                                    <a href="#"> Điện thoại Smartphone </a>
                                </div>
                            </div>
                            <div class="khampha_tong">
                                <div class="khampha_img">
                                    <img src="~/HinhAnh/khampha2.png" />
                                </div>
                                <div class="infor">
                                    <a href="#"> Máy tính bảng </a>
                                </div>
                            </div>
                            <div class="khampha_tong">
                                <div class="khampha_img">
                                    <img src="~/HinhAnh/khampha3.png" />
                                </div>
                                <div class="infor">
                                    <a href="#"> Máy đọc sách </a>
                                </div>
                            </div>
                            <div class="khampha_tong">
                                <div class="khampha_img">
                                    <img src="~/HinhAnh/khampha4.png" />
                                </div>
                                <div class="infor">
                                    <a href="#"> Điện thoại phổ thông </a>
                                </div>
                            </div>
                            <div class="khampha_tong">
                                <div class="khampha_img">
                                    <img src="~/HinhAnh/khampha5.png" />
                                </div>
                                <div class="infor">
                                    <a href="#"> Điện thoại bàn </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tatcasanpham">
                        <div class="header_khampha">
                            <p><b> Tất cả sản phẩm </b></p>
                        </div>
                        <div class="khoi_chitiet">
                            <div class="chitiet">
                                <div class="ten_chitiet">
                                    <p> ROM </p>
                                </div>
                                <div class="nut_chitiet">
                                    <button class="button_chitiet"> 128GB </button>
                                    <button class="button_chitiet"> 256GB </button>
                                    <button class="button_chitiet"> 64GB </button>
                                    <button class="button_chitiet"> 32GB </button>
                                    <button class="button_chitiet"> > </button>
                                </div>
                            </div>
                            <div class="chitiet">
                                <div class="ten_chitiet">
                                    <p> Thương hiệu </p>
                                </div>
                                <div class="nut_chitiet">
                                    <button class="button_chitiet"> Samsung </button>
                                    <button class="button_chitiet"> Xiaomi </button>
                                    <button class="button_chitiet"> OPPO </button>
                                    <button class="button_chitiet"> Panasonic </button>
                                    <button class="button_chitiet"> > </button>
                                </div>
                            </div>
                            <div class="chitiet">
                                <div class="ten_chitiet">
                                    <p> Camera sau </p>
                                </div>
                                <div class="nut_chitiet">
                                    <button class="button_chitiet"> Trên 16MP </button>
                                    <button class="button_chitiet"> Từ 120MP </button>
                                    <button class="button_chitiet"> 64GB </button>
                                    <button class="button_chitiet"> 32GB </button>
                                    <button class="button_chitiet"> > </button>
                                </div>
                            </div>
                            <div>
                                <button class="button_chitiet_all"> Tất cả </button>
                            </div>
                        </div>
                        <div class="tich_ship">
                            <div class="tich">
                                <div class="tich_check">
                                    <input type="checkbox" />
                                </div>
                                <div class="tich_check_text">
                                    <p> NOW Giao siêu tốc 2H </p>
                                </div>
                            </div>
                            <div class="tich">
                                <div class="tich_check">
                                    <input type="checkbox" />
                                </div>
                                <div class="tich_check_text">
                                    <p> TOP DEAL Siêu rẻ </p>
                                </div>
                            </div>
                            <div class="tich">
                                <div class="tich_check">
                                    <input type="checkbox" />
                                </div>
                                <div class="tich_check_text">
                                    <p> FREESHIP XTRA </p>
                                </div>
                            </div>
                            <div class="tich">
                                <div class="tich_check">
                                    <input type="checkbox" />
                                </div>
                                <div class="tich_check_text">
                                    <p> ★★★★ Từ 4 sao </p>
                                </div>
                            </div>
                            <div class="sapxep">
                                <div>
                                    <p> Sắp xếp </p>
                                </div>
                                <div class="button_sapxep">
                                    <button class="button_chitiet"> Phổ biến > </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="product_sp">
                        <div class="items">
                            <div class="item-img">
                                <img src="~/HinhAnh/Ảnh chụp màn hình 2024-09-30 102106.png" alt="dien thoai" />
                            </div>
                            <div class="items-dittion">
                                <p> 40.990.000đ</p>
                                <p class="NhanHieu"> Apple </p>
                                <p> Apple iPhone 16 Pro Max </p>

                                <div class="product-danhgia">
                                    <div class="product_sao">
                                        <p>★★★★★ &nbsp;</p>
                                    </div>
                                    <div>
                                        <p> Đã bán 95 </p>
                                    </div>
                                </div>
                                <div class="luachon_sp_product">
                                    <button class="luachon_sp_product_button"> 1 Màu sắc </button>
                                    <button class="luachon_sp_product_button"> 1 Dung lượng </button>
                                </div>
                            </div>
                            <p> NOW Giao siêu tốc 2h </p>
                        </div>
                        <div class="items">
                            <div class="item-img">
                                <img src="~/HinhAnh/Ảnh chụp màn hình 2024-09-30 102106.png" alt="dien thoai" />
                            </div>
                            <div class="items-dittion">
                                <p> 40.990.000đ</p>
                                <p class="NhanHieu"> Apple </p>
                                <p> Apple iPhone 16 Pro Max </p>

                                <div class="product-danhgia">
                                    <div class="product_sao">
                                        <p>★★★★★ &nbsp;</p>
                                    </div>
                                    <div>
                                        <p> Đã bán 95 </p>
                                    </div>
                                </div>
                                <div class="luachon_sp_product">
                                    <button class="luachon_sp_product_button"> 1 Màu sắc </button>
                                    <button class="luachon_sp_product_button"> 1 Dung lượng </button>
                                </div>
                            </div>
                            <p> NOW Giao siêu tốc 2h </p>
                        </div>
                        <div class="items">
                            <div class="item-img">
                                <img src="~/HinhAnh/Ảnh chụp màn hình 2024-09-30 102106.png" alt="dien thoai" />
                            </div>
                            <div class="items-dittion">
                                <p> 40.990.000đ</p>
                                <p class="NhanHieu"> Apple </p>
                                <p> Apple iPhone 16 Pro Max </p>

                                <div class="product-danhgia">
                                    <div class="product_sao">
                                        <p>★★★★★ &nbsp;</p>
                                    </div>
                                    <div>
                                        <p> Đã bán 95 </p>
                                    </div>
                                </div>
                                <div class="luachon_sp_product">
                                    <button class="luachon_sp_product_button"> 1 Màu sắc </button>
                                    <button class="luachon_sp_product_button"> 1 Dung lượng </button>
                                </div>
                            </div>
                            <p> NOW Giao siêu tốc 2h </p>
                        </div>
                        <div class="items">
                            <div class="item-img">
                                <img src="~/HinhAnh/Ảnh chụp màn hình 2024-09-30 102106.png" alt="dien thoai" />
                            </div>
                            <div class="items-dittion">
                                <p> 40.990.000đ</p>
                                <p class="NhanHieu"> Apple </p>
                                <p> Apple iPhone 16 Pro Max </p>

                                <div class="product-danhgia">
                                    <div class="product_sao">
                                        <p>★★★★★ &nbsp;</p>
                                    </div>
                                    <div>
                                        <p> Đã bán 95 </p>
                                    </div>
                                </div>
                                <div class="luachon_sp_product">
                                    <button class="luachon_sp_product_button"> 1 Màu sắc </button>
                                    <button class="luachon_sp_product_button"> 1 Dung lượng </button>
                                </div>
                            </div>
                            <p> NOW Giao siêu tốc 2h </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
